:root {
    --sun: #ffffff;
    --light-gray: #EDF0F7;
    --gray: #D4D7DC;
    --dark-gray: #575E75;
    --oort-cloud: #121212;
    --asteroid-belt: #3A3A3A;
    --kuiper-belt: #262626;

    

    --layout-container-from-top: 44px;
    --layout-container-padding-top: 8px;
    --layout-container-padding-bottom: 5px;
    --layout-container-padding-left: 5px;
    --layout-container-padding-right: 5px;

    --title-bar-height: 36px;
    --corners-radius: 5px;
    --splitter-width: 4px;

    --frame-background-color: var(--oort-cloud);
    --title-bar-background-color: yellow;
    --tabs-bar-background-color: blue;
    --tab-background-color: var(--asteroid-belt);
    --tab-background-color-active: var(--asteroid-belt);
    --tab-text-color: var(--sun);
    --splitter-color: var(--kuiper-belt);
    --color-behind-views: var(--oort-cloud); /* only seen if there's a problem with the view */
}
